.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 32px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.nav-links a {
  text-decoration: none;
  color: dodgerblue;
  font-weight: bold;
  margin-right: 8px;
}

.nav-links a:last-of-type {
  margin-right: 0;
}

.nav-links a.active {
  border-bottom: 1px solid dodgerblue;
}

.smurf-header {
  color: dodgerblue;
}

.header-section {
  width: 75%;
  align-content: center;
}

.smurfs {
  width: 25%;
}

li {
  font-size: 20px;
  text-align: left;
}

h2 {
  color: gray;
}
